[Desktop Entry]
Exec=systemsettings kcm_access
Icon=preferences-desktop-accessibility
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-AliasFor=systemsettings
X-KDE-Shortcuts=Meta+U
Name=Easy of Access
Name[af]=Toeganklikheid
Name[ar]=الإتاحة
Name[as]=অভিগম্যতা
Name[ast]=Accesibilidá
Name[az]=Xüsusi imkanlar
Name[be@latin]=Dastupnaść
Name[be]=Адмысловыя магчымасці
Name[bg]=Достъпност
Name[bn]=সহজ অ্যাক্সেস
Name[bn_IN]=সহজ অ্যাক্সেস
Name[br]=Haezadusted
Name[bs]=Pristupačnost
Name[ca@valencia]=Accesibilitat
Name[ca]=Accesibilitat
Name[cs]=Zpřístupnění
Name[csb]=Pòmòce przëstãpù
Name[cy]=Hygyrchedd
Name[da]=Nem adgang
Name[de]=Einfacher Zugriff
Name[el]=Εύκολη Πρόσβαση
Name[en_GB]=Easy of Access
Name[eo]=Facila Alireblo
Name[es]=Acceso fácil
Name[et]=Lihtne juurdepääs
Name[eu]=Errazo sartzea
Name[fa]=دسترسی آسان
Name[fi]=Helppo pääsy
Name[fr]=Accès facile
Name[fy]=Tagonklikens
Name[ga]=Éasca Rochtain
Name[gl]=Acceso fácil
Name[gu]=સરળ ઍક્સેસ
Name[he]=גישה קלה
Name[hi]=आसान पहुंच
Name[hne]=आसान पहुंच
Name[hr]=Lagani pristup
Name[hsb]=Přistupnosć
Name[hu]=Könnyű hozzáférés
Name[ia]=Acceso facile
Name[id]=Akses Mudah
Name[ie]=Accessibilitá
Name[is]=Auðvelt aðgang
Name[it]=Accesso facilitato
Name[ja]=簡単アクセス
Name[ka]=მარტივი წვდომა
Name[kk]=Қолайлы кіру
Name[km]=ចូលប្រើងាយស្រួល
Name[kn]=ಸುಲಭ ಪ್ರವೇಶ
Name[ko]=쉬운 접근
Name[ku]=Gihîştin îsân
Name[lt]=Lengvas prieigą
Name[lv]=Viegla pieeja
Name[mai]=आसान पहुंच
Name[mk]=Лесен пристап
Name[ml]=സുലഭ പ്രവേശനം
Name[mr]=सुलभ प्रवेश
Name[ms]=Akses Mudah
Name[nb]=Enkel tilgang
Name[nds]=Enkel Togang
Name[ne]=सहज पहुँच
Name[nl]=Eenvoudige toegang
Name[nn]=Enkel tilgang
Name[oc]=Accès facil
Name[or]=ସହଜ ଅଭିଗମ୍ୟତା
Name[pa]=ਸੌਖਾ ਪਹੁੰਚ
Name[pl]=Łatwy dostęp
Name[pt]=Acesso fácil
Name[pt_BR]=Acesso fácil
Name[ro]=Acces ușor
Name[ru]=Простой доступ
Name[sa]=सुलभ प्रवेश
Name[se]=Álkkibut geavaheapmi
Name[si]=සහජ ප්‍රවේශය
Name[sk]=Jednoduchý prístup
Name[sl]=Enostaven dostop
Name[sr@ijekavian]=Лаган приступ
Name[sr@ijekavianlatin]=Lagan pristup
Name[sr@latin]=Lagan pristup
Name[sr]=Лаган приступ
Name[sv]=Enkel åtkomst
Name[ta]=எளிய அணுகல்
Name[te]=సులభ ప్రవేశం
Name[tg]=Дастрасии осон
Name[th]=การเข้าถึงง่าย
Name[tr]=Kolay erişim
Name[ug]=ياردەم ئىقتىدارى
Name[uk]=Легкий доступ
Name[uz@cyrillic]=Осон кириш
Name[uz]=Oson kirish
Name[vi]=Truy cập dễ dàng
Name[wa]=Accessibilité
Name[xh]=Unikezelo olulula
Name[zh_CN]=轻松访问
Name[zh_HK]=輕鬆存取
Name[zh_TW]=輕鬆存取
