[Desktop Entry]
Exec=krunner
Icon=krunner
NoDisplay=true
Terminal=false
Type=Application
X-KDE-Shortcuts=Meta+S
StartupNotify=false
Name=Search
Name[ar]=بحث
Name[ast]=Gueta
Name[az]=Axtarış
Name[be]=Пошук
Name[bg]=Търсене
Name[bn]=অনুসন্ধান
Name[ca]=Cerca
Name[ca@valencia]=Cerca
Name[cs]=Hledat
Name[da]=Søg
Name[de]=Suchen
Name[el]=Αναζήτηση
Name[en_GB]=Search
Name[eo]=Serĉi
Name[es]=Buscar
Name[et]=Otsi
Name[eu]=Bilatu
Name[fa]=جستجو
Name[fi]=Hae
Name[fr]=Rechercher
Name[fy]=Sykje
Name[ga]=Cuardaigh
Name[gl]=Buscar
Name[gu]=શોધો
Name[he]=חיפוש
Name[hi]=खोजें
Name[hr]=Traži
Name[hu]=Keresés
Name[ia]=Cerca
Name[id]=Cari
Name[is]=Leita
Name[it]=Cerca
Name[ja]=検索
Name[ka]=ძებნა
Name[kk]=Іздеу
Name[km]=ស្វែងរក
Name[kn]=ಹುಡುಕು
Name[ko]=검색
Name[lt]=Ieškoti
Name[lv]=Meklēt
Name[mk]=Барање
Name[ml]=തിരയുക
Name[mr]=शोधा
Name[ms]=Cari
Name[nb]=Søk
Name[nds]=Söken
Name[ne]=खोजी
Name[nl]=Zoeken
Name[nn]=Søk
Name[oc]=Recercar
Name[or]=ସନ୍ଧାନ
Name[pa]=ਖੋਜੋ
Name[pl]=Szukaj
Name[pt]=Pesquisar
Name[pt_BR]=Pesquisar
Name[ro]=Caută
Name[ru]=Поиск
Name[si]=සෙවීම
Name[sk]=Hľadať
Name[sl]=Iskanje
Name[sq]=Kërko
Name[sr]=Претрага
Name[sv]=Sök
Name[ta]=தேடல்
Name[te]=శోధన
Name[tg]=Ҷустуҷӯ
Name[th]=ค้นหา
Name[tr]=Ara
Name[ug]=ئىزدەش
Name[uk]=Пошук
Name[uz]=Qidirish
Name[vi]=Tìm kiếm
Name[zh_CN]=搜索
Name[zh_HK]=搜尋
Name[zh_TW]=搜尋
